<html>
    <head>
        <title>jsmindd</title>
    </head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jsmind.css') }}">
    <script type="text/javascript" src="https://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jsmind.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jsmind.draggable.js') }}"></script>
    <script defer>
        
        var url3 = 'http://127.0.0.1:8898/data';  
        var slots=$.getJSON(url3,function(datas){
            console.log(datas);
            for (let data in datas){
                console.log(datas[data]); 
                for(let key in datas[data]){
                    console.log(datas[data][key]); 
                };
            };
        });
        var mind = {
            "meta":{
                "name":"jsMind remote",
                "author":"hizzgdev@163.com",
                "version":"0.2"
            },
            "format":"node_tree",
            "data":{"id":"root","topic":"jsMind","children":[
                $.getJSON(url3,function(datas){
                    console.log(datas);
                    for (let data in datas){
                        console.log(datas[data]); 
                        for(let key in datas[data]){
                            console.log(datas[data][key]); 
                            {"id":"123","topic" :"key+data[key]", direction  =left},
                        };
                    };
                }),
            ]},
        };
        var options = {
		    container:'jsmind_container',//容器的ID
		    editable:false,				// 是否启用编辑
            theme:'primary'				//主题
        }
		var jm = new jsMind(options);
 
 
		jm.show(mind);
		//jm.disable_edit();//禁止编制
		jm.expand_all();//展开全部节点
		jm.add_node(parent_node, nodeid, topic, data);//添加节点
 
 
		console.log(jm.get_root());




        
</script>
    <body>
         <div id="jsmind_container" style="width: 1000px;height: 1000px;"></div>
         {% for content in contentList %} 
            {% for key in content %} 
                {%if key=="页数" %}
                    <span  class="content"> {{key}}{{content[key]}}</span>
                {%else%}
                    <span class="lower">{{key}}{{content[key]}}</span>
                {% endif %}
            {% endfor %}       
        {% endfor %}
    </body>

    </html>
    
